#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.bar.bar-dark.bar-footer {
    background-image: linear-gradient(180deg, #111, #111 50%, transparent 50%);
}
.bar.bar-dark {
    border-color: #111;
    background-color: #444444;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff;
}