
.menu_text{
    display: inline-block;
    font-weight: 550;
    font-size: 16px;
    color: orangered;
}

.mota_text{
    padding-top: 10px;
}

.time_text{
    font-weight: 600;
    font-size: 15px;
    color: rgba(39, 154, 19, 0.92);
}
.time_text>span {
    width: 8px;
    height: 8px;
    background-color: #0fa53d;
    display: inline-block;
    border-radius: 50%;
    margin-right:10px;
}
.price_text{
    padding-top: 10px;
    font-weight: 600;
    font-size: 15px;
    color: rgba(107, 96, 96, 0.8);
}
.btn-grey {
    background-color: #D8D8D8;
    color: #FFF;
}
.rating-content{
    padding-bottom: 35px;
}
.rating-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
}

.bold {
    font-weight: 600;
}



.review-block {
    background-color: #fafafa;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.review-block-name {
    font-size: 12px;
    margin: 8px 0;
}

.review-block-date {
    font-size: 12px;
    margin-top: -3px;
}

.review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}

.review-block-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.review-block-description {
    font-size: 13px;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars {
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    width: 100%;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    opacity:0;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


